.form {
  margin: 10px 10%;
}

.form__input_name, .form__input_comment, .form__button {
  text-align: center;
  padding: 6px;
  vertical-align: top;
}

.form__input_name {
  border: 5px groove #cce;
  border-radius: 15px;
  width: 30%;
  background-color: #e5e5f7;
  font-size: 20px;
}

.form__input_name:focus {
  outline: none;
}

.form__input_comment {
  border: 5px groove #cce;
  border-radius: 15px;
  width: 50%;
  background-color: #e5e5f7;
  font-size: 20px;
}

.form__input_comment:focus {
  outline: none;
}

.form__button {
  border: 2px solid #555;
  border-radius: 15px;
  width: 20%;
  color: #aaf;
  text-shadow: 2px 2px 2px #000, -1px -1px 1px #fff;
  font-weight: bold;
  font-size: 26px;
  padding: 6px;
  background: linear-gradient(to bottom, #559 35%, #336 50%, #22c 65%, #77f);
}

.form__button:hover {
  color: #faa;
  text-shadow: 2px 2px 2px #000, -1px -1px 1px #fff;
  background: linear-gradient(to bottom, #a66 35%, #744 50%, #d33 65%, #f88);
}

.form__button:active {
  transition: 100ms;
  letter-spacing: 5px;
  color: #afa;
  text-shadow: 2px 2px 2px #000, -1px -1px 1px #fff;
  background: linear-gradient(to bottom, #6a6 35%, #474 50%, #3d3 65%, #8f8);
}

.form__button:focus {
  outline: none;
}
