* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
}

body {

}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(to top, #226, #fff);
}

#root {
  position: relative;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
  background: linear-gradient(to top, #88c, #fff 30%, #fff 70%, #88c);
}

.container {
  margin: 10px;
}

.left-column, .right-column, .main-column {
  vertical-align: top;
}

.left-column, .right-column {
  display: inline-block;
  width: 20%;
  background-color: #bbb;
}

.side-container {
  border-top: 5px solid #226;
  padding: 10px 5px;
  background: linear-gradient(to bottom, #226, #fff);
  text-align: left;
}

.side-container__title {
  color: #dd7;
  text-shadow: 1px 1px 2px #000, -1px -1px 1px #f00;
  text-align: left;
  padding: 10px;
}

.side-container__text {
  text-align: justify;
  font-size: 14px;
}

.main-column {
  border: 1px solid black;
  padding: 20px 0;
  display: inline-block;
  width: 60%;
  background-color: #eee;
}

.news-container {
  border: 4px solid #579;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 20px;
  padding: 20px 10px;
}

.form {
  margin: 10px 10%;
}

.form__input_name, .form__input_comment, .form__button {
  text-align: center;
  padding: 6px;
  vertical-align: top;
}

.form__input_name {
  border: 5px groove #cce;
  border-radius: 15px;
  width: 30%;
  background-color: #e5e5f7;
  font-size: 20px;
}

.form__input_name:focus {
  outline: none;
}

.form__input_comment {
  border: 5px groove #cce;
  border-radius: 15px;
  width: 50%;
  background-color: #e5e5f7;
  font-size: 20px;
}

.form__input_comment:focus {
  outline: none;
}

.form__button {
  border: 2px solid #555;
  border-radius: 15px;
  width: 20%;
  color: #aaf;
  text-shadow: 2px 2px 2px #000, -1px -1px 1px #fff;
  font-weight: bold;
  font-size: 26px;
  padding: 6px;
  background: linear-gradient(to bottom, #559 35%, #336 50%, #22c 65%, #77f);
}

.form__button:hover {
  color: #faa;
  text-shadow: 2px 2px 2px #000, -1px -1px 1px #fff;
  background: linear-gradient(to bottom, #a66 35%, #744 50%, #d33 65%, #f88);
}

.form__button:active {
  transition: 100ms;
  letter-spacing: 5px;
  color: #afa;
  text-shadow: 2px 2px 2px #000, -1px -1px 1px #fff;
  background: linear-gradient(to bottom, #6a6 35%, #474 50%, #3d3 65%, #8f8);
}

.form__button:focus {
  outline: none;
}

.comment {
  display: inline-block;
  margin: 2px 100px;
  padding: 10px 20px;
  border: 1px solid #000;
  text-align: left;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #eef;
}

.comment__author {
  display: inline-block;
  padding: 5px 15px 0px 20px;
  border-bottom: 4px ridge #ddf;
  font-style: italic;
  font-family: cursive;
  font-weight: bold;
  font-size: 25px;
  color: #ff0;
  text-shadow: 1px 1px 2px #000, -1px -1px 2px #f00;
  letter-spacing: 1px;

}

.comment__text {
  padding: 10px 5px 5px 5px;
  font-style: italic;
  font-family: cursive;
  font-size: 18px;
}

.footer {
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
  color: #fff;
  background: linear-gradient(to top, #fff, #44a 45%, #44a 55%, #fff);
}
